
/* Primeira página, pagina de login para o site principal*/

.fundo_principal {

	background-color: black;
	font-family: "Contury Gothic";
	height: 100%;
	width: 70%;
	padding: auto;



}


.pt1 {

	padding: 0 auto;
	height: 12%;
	width: 70%;
}

.pttxt1 {

	height: 12%;
}

.experiencias {

	background-color: #F3DAFF;
	width: 0 auto;
	height: auto;
}
.qualific {
	background-color: #F3DAFF;
}


/*Fim da página principal o que seria meu portifolio*/





/*Documento: Projeto 1 Lofi*/

html {
    height: 100%; /* Define o tamanho do Documento HTML */
}

.menu {

	width: auto;
	height: auto;
	margin: 0px;
	position: relative;
	left: -120px;
	color:#88ffea;

}

body {
	background-color: #F3DAFF;
    font-family: "Century Gothic";
	height: 100%;
    margin: 0 auto; /* Centraliza */
    padding: 8px;
    width: 70%; /* Define a largura do Corpo do Documento */	
}

.ola  {
	background-color: #00DC86;
	
}

.lofi{
		height: 315;
		width: 560;
		float: auto;	
}

.rodape {
	text-align: center; 
	background-color: white;
	width: 100%;
	margin: 0 auto;
	height: auto;
}

.insta {
	text-align: center;
}

/* Fim Do Projeto 1 Lofi*/
